VisualStudio/Release
VisualStudio/Debug
bin/SparCraft
bin/*.txt
bin/*.pdb
bin/*.map
bin/*.dll
bin/*.exe
src/*.o
src/**/*.o
src/**/*.d
/build
/bin/sample_experiment/sample_results
/VisualStudio/.vs
/VisualStudio/SparCraft
/VisualStudio/SparCraft_main
/VisualStudio - Copy
/VisualStudio/x64
/bin/sample_experiment/results
/vs/.vs
/vs/SparCraft
/vs/SparCraft_main
/vs/x64
*.ilk
